html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Audiowide', cursive, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


/*canvas {
  margin-left: 2%;
  margin-top: 2%;
}*/

body {
  margin: 0;
  padding: 20px 0 0 0 ;
  text-align: center;
  background: #111;
  color: white;
}

h1 {
  color: white;
}

p {
  font-size: 20px;
}

p > a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

p > a:hover {
  color: #ADD8E6;
  transition: 0.5s;
}

.wrapper {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

canvas {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.alert-screen {
  position: absolute;
  top: 0;
  margin-top: 30px;
  margin-left: 150px;
  width: 500px;
  height: 300px;

}

.new-game > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-over {
  background-color: black;
  height: 300px;
}

.btn {
  color: white;
  border-radius: 6px;
  padding: 8px 6px;
  transition: 0.4s;
  min-width: 130px;
}

.btn:hover {
  cursor: pointer;
  transition: 0.4s;
}

.btn-new {
  background: white;
  color: black;
  width: 80px;
  margin: 0 auto;

}

.btn-new:hover {
  background: #ddd;
}

.extra-time-container {
  position: absolute;
  top: 0;
  left: 400;
  margin-left: 450px;
  margin-top: -10px;
}

.extra-time-container p {
  color: black;
}
