html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Audiowide', sans-serif;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

h1, h2, .btn {
	text-transform: uppercase;;

}


/*canvas {
  margin-left: 2%;
  margin-top: 2%;
}*/

body {
  margin: 0;
  padding: 20px 0 0 0 ;
  text-align: center;
  background: #111;
  color: white;
}

/*** Title ****/
.header > h1 {
	margin-bottom: 14px;
	font-size: 54px;
}

.header > p {
  font-size: 20px;
	margin-bottom: 24px;
}

.header a {
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.header a:hover {
  color: #52C3FB;
  transition: 0.5s;
}

/*** Game ***/
.wrapper {
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto;
	border: 1px solid #52C3FB;
}

canvas {
  width: 100%;
  height: 100%;
}

.alert-screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.score {
	font-size: 26px;
	height: 26px;
	width: 40px;
	margin: 10px auto 0;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-center > div {
	margin: 0 24px;
}


.alert-screen h2 {
	font-size: 36px;
	margin-top: 36px;
}

.alert-screen ul {
	margin: 10px auto;
	text-align: center;
}

.alert-screen ul li {
	/*text-align: left;*/
	font-size: 18px;
	margin: 14px 0;
}

.alert-screen ul img {
	width: 16px;
	height: 16px;
}

.alert-screen span {
	margin: 0 5px;
	color: #52C3FB;
}

.arrow {
	font-size: 0.75em;
}

.new-game > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-over > * {
	margin-top: 20px;
}

.btn {
	margin-top: 20px;
  color: white;
  border-radius: 6px;
  padding: 10px 8px;
  transition: 0.4s;
  min-width: 130px;
}

.btn:hover {
  cursor: pointer;
  transition: 0.4s;
}

.btn-play {
  background: white;
  color: black;
  max-width: 160px;
  margin: 30px auto 0;
}

.btn-play:hover {
  background: #52C3FB;
	transition: 0.4s;
}

.extra-time-container {
  position: absolute;
  top: 0;
  left: 400;
  margin-left: 450px;
}

.extra-time-container p {
  color: black;
}

.icons {
	margin-top: 20px;
}

.icons a {
	margin: 0 16px;
	color: white;
	font-size: 44px;
	transition: 0.4s;
}

.icons a:hover {
	color: #52C3FB;
	transition: 0.4s;
}
